@import url(https:fonts.googleapis.com/css?family=pop
pins:100,200,300,400,500,600,700,800,900);
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppons' , sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #010a15d6
}
.box{
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  transition: 0.5s;
}
.box:hover{
  height: 400px;
}
.box .imgBx{

  position: absolute;
  top: 0;
  left: 0;
  width: 100%
  height:100%;
  padding: 10px;
  box-sizing: border-box;
}
.box .imgBx img{
  max-width: 100%;
  opacity: 0.1;
  transition: 0.5s;
}
.box:hover .imgBx img{
  opacity: 1;
}
.box:before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.box:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -2;
  filter: blur(40px);
}
.box .content{
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
  text-align: center;
 }
 .box:hover .content{
  opacity: 1;
 }
 .box .content h2{
  font-size: 23px;
  color: #000;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
 }
 .box .content h2 span{
  font-size: 20px;
  color: #000;
  font-weight: 200;
  letter-spacing: 2px;
 }
 .box .content h2 span span{
  font-size: 10px;
 }

.menu-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.toggle{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  border-radius: 50%;
}

.hamburger{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #111;
}

.hamburger>div{
  position: absolute;
  width: 60%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff44f;
  transition: .4s;
}

.hamburger>div:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff44f;
  top: -10px;
  left: 0;
  transition: .4s;
}

.hamburger>div:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff44f;
  top: 10px;
  left: 0;
  transition: .4s;
}

.toggle:checked + .hamburger>div{
  transform: rotate(135deg);
}

.toggle:checked:hover + .hamburger>div{
  transform: rotate(225deg);
}

.toggle:checked + .hamburger>div:before, .toggle:checked + .hamburger>div:after{
  top: 0;
  transform: rotate(90deg);
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  transition: .6s;
}

.menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.menu > div > div{
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: .6s;
}

.menu > div > div > ul > li{
  list-style: none;
}

.menu > div > div > ul > li > a{
  text-decoration: none;
  color: #fff;
  font-weight: 550;
  text-transform: uppercase;
  margin: .5rem;
  transition: .3s;
  font-size: 1.2rem;
  display: inline-block;
}

.menu > div > div > ul > li > a:hover{
  color: #fff44f;
}

.toggle:checked ~ .menu{
  visibility: visible;
}

.toggle:checked ~ .menu > div{
  transform: translateX(-50%) translateY(-50%);
}

.toggle:checked ~ .menu > div > div{
  opacity: 1;
}
